replicaCount: 4

image:
  repository: 177206615793.dkr.ecr.ap-southeast-1.amazonaws.com/frontend-app
  tag: ${GITHUB_REF_NAME}
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []